<p *ngIf='this.util.errMsg !== ""' class="alert alert-danger" role="alert">{{ this.util.errMsg }}</p>
<div class="py-5">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <span class="anchor" id="formLogin"></span>

      <!-- form card login -->
      <div class="card w-55">
        <div class="card-header">
          <h3 class="mb-0">Login</h3>
        </div>
        <div class="card-body">
          <form class="form" ngNativeValidate #loginForm="ngForm"
            [class.was-validated]="loginForm.touched && loginForm.invalid">
            <div class="form-group required">
              <label for="uname1" class="control-label">Username</label>
              <input type="email" class="form-control" required email name="email" ng-model="text"
                [(ngModel)]="loginUser.email" #email="ngModel" placeholder="Email @">

              <div *ngIf="email.errors?.required" class="invalid-feedback">
                Please fill out this field!
              </div>

              <div *ngIf="email.errors?.email" class="invalid-feedback">
                Email format required
              </div>
            </div>

            <div class="form-group required">
              <label class="control-label">Password</label>
              <input type="password" class="form-control" name="password" [(ngModel)]="loginUser.password"
                placeholder="******" required #password="ngModel" [(ngModel)]="loginUser.password">

              <div *ngIf="password.errors?.required" class="invalid-feedback">
                Please fill out this field!
              </div>
            </div>
            <button type="button" [disabled]="loginForm.form.invalid" (click)="login()"
              class="btn btn-success float-right">Login</button>
            <button type="reset" (click)="this.loginUser = this.util.resetValues(this.loginUser)"
              style="margin-right:10px" class="btn btn-success float-right">Reset</button>
          </form>
        </div>
        <!--/card-block-->
      </div>
      <!-- /form card login -->

    </div>
  </div>
  <p>{{ loginUser | json }}</p>
</div>