<div class="container">

    <!-- <ul *ngIf="util.isAdminRole()" class="nav nav-tabs"> -->
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a routerLink="/adminpanel" routerLinkActive="active" class="nav-link active" href="#">Reports</a>
        </li>
        <li class="nav-item">
            <a routerLink="/adminpanel/newquestion" class="nav-link" href="#">New Question</a>
        </li>
    </ul>
    <br>
    <p>Make adminpanel component as reports view page</p>

    <router-outlet></router-outlet>

</div>