<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Make Decision</h1>
    <p class="lead">Decide what you want from the higher officials...</p>
    <hr class="my-4">
    <a routerLink="/login" routerLinkActive="active" style="margin-right:10px" class="btn btn-primary btn-lg"
      *ngIf="!this.apiservice.loggedIn()" href="#" role="button">Login</a>
    <a routerLink="/register" routerLinkActive="active" style="margin-right:10px" class="btn btn-primary btn-lg"
      *ngIf="!this.apiservice.loggedIn()" href="#" role="button">Register</a>
  </div>

  <router-outlet></router-outlet>
</div>