/* You can add global styles to this file, and also import other style files */
body {
    font-family: "Alegreya", Times, serif;    
  }

/* To add required * (asterik) in forms */
.form-group.required .control-label:after {
    content:"*";
    color:red;
  }
